APIBankingASP.NET/Service References/com.quantiguous.inw/InwardRemittanceByPartnerService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:tns="http://www.quantiguous.com/services" elementFormDefault="qualified" targetNamespace="http://www.quantiguous.com/services" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="http://api.quantiguous.com/InwardRemittanceByPartnerService?xsd=xsd1" />
  <xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" ibmSchExtn:docRoot="true" name="remit">
    <xsd:annotation>
      <xsd:documentation />
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="tns:version" />
        <xsd:element ref="tns:uniqueRequestNo" />
        <xsd:element ref="tns:partnerCode" />
        <xsd:element name="remitterType" type="tns:remitterType">
          <xsd:annotation>
            <xsd:documentation>
							Indicates whether the beneficiary is an
							Individual (I) or a Corporate (C). This
							along with the name is scrubbed against scan
							lists that are in place for AML regulations.
						</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="remitterName" type="tns:nameType">
          <xsd:annotation>
            <xsd:documentation>
							The original remitter, on who's behalf the
							partner is initiating the transaction. This
							name is checked with various lists (such as
							SDN) for regulartory compliance. In case of
							a match, the transaction is not accepted
							unless a verified identity is provided to
							state the match is indeed false.
						</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element minOccurs="0" maxOccurs="1" name="remitterAddress" type="tns:AddressType">
          <xsd:annotation>
            <xsd:documentation>
							The address of the remitter. The address is
							required to avoid false hits with the scan
							lists maintained to comply with regulatory
							authorities.
						</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="remitterContact" type="tns:contactType">
          <xsd:annotation>
            <xsd:documentation>
							The remitter contact details, notifications
							to the remitter can be sent if these details
							are provided. Provide the mobile, email or both.
						</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="remitterIdentities" type="tns:IdentitiesArray">
          <xsd:annotation>
            <xsd:documentation>
							The identities of the remitter. These are
							required in cases where the remitter name is
							found in the anti money laundering scan
							lists. The identity provided should have
							already been verified. Verification of
							identifies is an operational process,
							described elsewhere.
						</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="beneficiaryType" type="tns:beneficiaryType">
          <xsd:annotation>
            <xsd:documentation>
							Indicates whether the beneficiary is an
							Individual (I) or a Corporate (C). This
							along with the name is scrubbed against scan
							lists that are in place for AML regulations.
						</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="beneficiaryName" type="tns:nameType">
          <xsd:annotation>
            <xsd:documentation>
							The benficiary, to whom the funds will be
							credited. This name is checked with various
							lists (such as SDN) for regulartory
							compliance. In case of a match, the
							transaction is not accepted unless a
							verified identity is provided to state the
							match is indeed false.
						</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element minOccurs="0" maxOccurs="1" name="beneficiaryAddress" type="tns:AddressType">
          <xsd:annotation>
            <xsd:documentation>
							The address of the remitter. The address is
							required to avoid false hits with the scan
							lists maintained to comply with regulatory
							authorities.
						</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="beneficiaryContact" type="tns:contactType">
          <xsd:annotation>
            <xsd:documentation>
							The beneficiary contact details,
							notifications to the remitter can be sent if
							these details are provided.
						</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="beneficiaryIdentities" type="tns:IdentitiesArray">
          <xsd:annotation>
            <xsd:documentation>
							The identities of the beneficiary. These are
							required in cases where the remitter name is
							found in the anti money laundering scan
							lists. The identity provided should have
							already been verified. Verification of
							identifies is an operational process,
							described elsewhere.
						</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="beneficiaryAccountNo" type="tns:beneficiaryAccountNoType">
          <xsd:annotation>
            <xsd:documentation>
							The beneficiary account number. Funds will
							be credited to this account. All transfer
							types require the account number.
						</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="beneficiaryIFSC" type="tns:IFSCType">
          <xsd:annotation>
            <xsd:documentation>
							The IFSC code issued to the bank/branch of
							the beneficiaray account.
						</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element ref="tns:transferType" />
        <xsd:element ref="tns:transferCurrencyCode" />
        <xsd:element name="transferAmount" type="xsd:float" />
        <xsd:element name="remitterToBeneficiaryInfo" type="tns:remitterToBeneficiaryInfoType">
          <xsd:annotation>
            <xsd:documentation>
							A friendly note from the remitter to the
							beneficiary. This is forwarded to the
							beneficiaries bank, for certain transation
							types.
						</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="purposeCode" type="tns:purposeCodeType">
          <xsd:annotation>
            <xsd:documentation>
							A purpose code is mandatory as per Indian
							regulators, this is required by regulations,
							and needs to be stated by the remitter.
							False representation of the purpose code,
							has serious consequences.
						</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" ibmSchExtn:docRoot="true" name="remitResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="tns:version" />
        <xsd:element ref="tns:uniqueResponseNo" />
        <xsd:element ref="tns:attemptNo" />
        <xsd:element ref="tns:transferType" />
        <xsd:element ref="tns:lowBalanceAlert" />
        <xsd:element ref="tns:transactionStatus" />
        <xsd:element ref="tns:reviewStatus" />
        <xsd:element minOccurs="0" maxOccurs="1" name="requestReferenceNo" type="tns:referenceNoType" />
        <xsd:element minOccurs="0" maxOccurs="1" name="transferAmount" type="xsd:decimal" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="AddressType">
    <xsd:sequence>
      <xsd:element name="address1" type="tns:addressLineType">
        <xsd:annotation>
          <xsd:documentation>
						The line 1 of the address.
					</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="address2" type="tns:addressLineType">
        <xsd:annotation>
          <xsd:documentation>
						The line 2 of the address
					</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="address3" type="tns:addressLineType">
        <xsd:annotation>
          <xsd:documentation>
						The line 3 of the address.
					</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="postalCode" type="tns:postalCodeType">
        <xsd:annotation>
          <xsd:documentation>
						The postal code.
					</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="city" type="tns:cityNameType">
        <xsd:annotation>
          <xsd:documentation>
						The city Name.
					</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="stateOrProvince" type="tns:stateOrProvinceNameType">
        <xsd:annotation>
          <xsd:documentation>
						The state/province Name.
					</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="country">
        <xsd:annotation>
          <xsd:documentation>The ISO 3166-1 alpha-2 country code (IN = India, US = United Stated of America). Refer http://en.wikipedia.org/wiki/ISO_3166-1</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:pattern value="[A-Z]{2}" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IdentityType">
    <xsd:choice>
      <xsd:sequence>
        <xsd:element name="idType">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:minLength value="1" />
              <xsd:maxLength value="30" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="idNumber">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:minLength value="1" />
              <xsd:maxLength value="50" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="idCountry">
          <xsd:annotation>
            <xsd:documentation>The ISO 3166-1 alpha-2 country code (IN = India, US = United Stated of America). Refer http://en.wikipedia.org/wiki/ISO_3166-1</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:length value="2" />
              <xsd:pattern value="[A-Z]{2}" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="issueDate" type="xsd:date" />
        <xsd:element name="expiryDate" type="xsd:date" />
      </xsd:sequence>
    </xsd:choice>
  </xsd:complexType>
  <xsd:simpleType name="remitterType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="I" />
      <xsd:enumeration value="C" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="beneficiaryType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="I" />
      <xsd:enumeration value="C" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="nameType">
    <xsd:choice>
      <xsd:element name="fullName" type="tns:fullNameType">
        <xsd:annotation>
          <xsd:documentation>The full name of the individual or the company.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:choice>
  </xsd:complexType>
  <xsd:simpleType name="partnerCodeType">
    <xsd:restriction base="xsd:token">
      <xsd:minLength value="1" />
      <xsd:maxLength value="10" />
      <xsd:whiteSpace value="collapse" />
      <xsd:pattern value="\w{1,10}" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="accountNoType">
    <xsd:annotation>
      <xsd:documentation>
				The minimum length of 10 is as per backend systems.
			</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="10" />
      <xsd:maxLength value="20" />
      <xsd:whiteSpace value="collapse" />
      <xsd:pattern value="\w+" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="IFSCType">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[A-Z|a-z]{4}0[A-Z|a-z|0-9]{6}" />
      <xsd:length value="11" />
      <xsd:whiteSpace value="collapse" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="purposeCodeType">
    <xsd:restriction base="xsd:string">
      <xsd:length value="4" />
      <xsd:pattern value="PC\d{2}" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="IdentitiesArray">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="4" name="identity" type="tns:IdentityType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" ibmSchExtn:docRoot="true" name="getBalance">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="tns:version" />
        <xsd:element ref="tns:partnerCode" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" ibmSchExtn:docRoot="true" name="getBalanceResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="tns:version" />
        <xsd:element name="accountCurrencyCode" type="tns:currencyCodeType">
          <xsd:annotation>
            <xsd:documentation>
							The currency of the funding account.
						</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="accountBalanceAmount" type="tns:nonNegativeFloat">
          <xsd:annotation>
            <xsd:documentation>
							The balance in the funding account. This is
							represented in the account currency.
						</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element ref="tns:lowBalanceAlert" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" ibmSchExtn:docRoot="true" name="getRemittanceStatus">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="tns:version" />
        <xsd:element ref="tns:partnerCode" />
        <xsd:element name="requestReferenceNo" type="tns:referenceNoType">
          <xsd:annotation>
            <xsd:documentation>
							The unique reference number that was
							supplied when the remit operation was
							called.
						</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" ibmSchExtn:docRoot="true" name="getRemittanceStatusResponse">
    <xsd:annotation>
      <xsd:documentation>
				The date on which the transaction was accepted by the
				service. This is in the timezone of the banks server.
			</xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="tns:version" />
        <xsd:element name="transferType" type="tns:transferTypeType">
          <xsd:annotation>
            <xsd:documentation>
							The type of transfer that was initiated for
							this request. Usually this will be the same
							as what was asked for in the request. It is
							different in the following cases: (1) In
							case the beneficiary if of the bank, then
							the mode is FT (funds transfer) (2) In case
							the request was of type ANY, this reflects
							the method that was chosen.
						</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="reqTransferType" type="tns:transferTypeType">
          <xsd:annotation>
            <xsd:documentation>
							The transfer type that was sent in the
							request.
						</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="transactionDate" type="xsd:dateTime">
          <xsd:annotation>
            <xsd:documentation>
							The date on which the transaction was
							received by the bank. This is in the time
							zone of the bank.
						</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="transferAmount" type="tns:positiveFloat">
          <xsd:annotation>
            <xsd:documentation>
							The transaction amount, represented in the
							tranaction currency.
						</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="transferCurrencyCode" type="tns:currencyCodeType">
          <xsd:annotation>
            <xsd:documentation>
							The currency code of the transaction. Only
							INR transactions are accepted.
						</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element ref="tns:transactionStatus" />
        <xsd:element ref="tns:reviewStatus" />
        <xsd:element minOccurs="0" maxOccurs="1" name="requestReferenceNo" type="tns:referenceNoType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="transactionStatusType">
    <xsd:sequence>
      <xsd:element name="statusCode">
        <xsd:annotation>
          <xsd:documentation>FAILED: The transaction has failed, it can be attempted again with the same reference number. This can include AML and any other failures. 
SENT_TO_BENEFICIARY : The transaction has been sent to the beneficiary bank.
RETURNED_FROM_BENEFICIARY: The transaction has been returned back from the beneficiary bank.
COMPLETED: The transaction has been confirmed as credited by the beneficiary bank.
IN_PROCESS: The transaction is still in process please check after some time.
ONHOLD: (Future Use)
</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:token">
            <xsd:enumeration value="ONHOLD" />
            <xsd:enumeration value="SENT_TO_BENEFICIARY" />
            <xsd:enumeration value="COMPLETED" />
            <xsd:enumeration value="IN_PROCESS" />
            <xsd:enumeration value="RETURNED_FROM_BENEFICIARY" />
            <xsd:enumeration value="FAILED" />
            <xsd:enumeration value="SCHEDULED_FOR_NEXT_WORKDAY" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="subStatusCode">
        <xsd:annotation>
          <xsd:documentation>The detailed error code that was received from the beneficiary bank. This is especially useful for the operations and support staff to know why the transaction FAILED or was RETURNED_FROM_BENEFICIARY. </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="1" />
            <xsd:maxLength value="10" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="bankReferenceNo">
        <xsd:annotation>
          <xsd:documentation>The reference number generated by the bank, and passed on to the payment network. This is useful for NEFT and IMPS transactions. It is usually communicated to the beneficiary and can be given to the original remitter.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="0" />
            <xsd:maxLength value="64" />
            <xsd:whiteSpace value="collapse" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="beneficiaryReferenceNo">
        <xsd:annotation>
          <xsd:documentation>For future use.</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="64" />
            <xsd:whiteSpace value="collapse" />
            <xsd:pattern value="\w*" />
            <xsd:minLength value="0" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="contactType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="mobileNo" type="tns:mobileNoType">
        <xsd:annotation>
          <xsd:documentation>
						Mobile number to which transaction status notifications
						can be sent.
					</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="emailID" type="tns:emailIDType">
        <xsd:annotation>
          <xsd:documentation>
						The email address to which transaction status
						notifications can be sent.
					</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="reviewStatusType">
    <xsd:sequence>
      <xsd:element name="reviewRequired" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>This will always be false. In a future release, this will set to true to indicate if specifical information is sought w.r.t this transaction.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="itemsForReview">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="itemForReview">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="justificationCode" type="xsd:token">
                    <xsd:annotation>
                      <xsd:documentation>
												Codes are available for
												frequently asked
												justifications. These
												are used for reporting.
											</xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="justificationText">
                    <xsd:annotation>
                      <xsd:documentation>
												The justification that
												is sought with respect
												to the transaction. This
												is the complete text of
												the justification that
												has been asked for.
											</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="255" />
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="statusCode">
                    <xsd:annotation>
                      <xsd:documentation>
												Indicates whether the
												review of the
												justification provided
												was completed. Review is
												done operationally by
												the banks risk and
												compliance teams.
											</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:token">
                        <xsd:enumeration value="COMPLETED" />
                        <xsd:enumeration value="PENDING" />
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element name="reviewedOn" type="xsd:date">
                    <xsd:annotation>
                      <xsd:documentation>
												The date on which the
												review was completed.
											</xsd:documentation>
                    </xsd:annotation>
                  </xsd:element>
                  <xsd:element name="reviewRemark">
                    <xsd:annotation>
                      <xsd:documentation>
												Remarks entered by the
												reviewer while
												completing the review.
											</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="255" />
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="version" nillable="true" type="tns:versionType">
    <xsd:annotation>
      <xsd:documentation>
				When sent in the request, this reflects the version that
				is known to the client. Clients should always send a
				value that they were developed with. When sent in the
				reply, this reflects the version that is known to the
				server. This is updated whenever there is a change in
				the specification or the behavior of the server. These
				versions are not required to match, and are to be used
				to when dealing with compatibility issues.
			</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="uniqueRequestNo" nillable="true" type="tns:referenceNoType">
    <xsd:annotation>
      <xsd:documentation>
				A unique reference number to be sent by the client
				application. The API ensures that duplicate requests are
				rejected. It is the responsibility of the client to
				ensure that a unique reference is always generated. A
				UUID may be used if no other mechanism is available.
			</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="partnerCode" nillable="true" type="tns:partnerCodeType">
    <xsd:annotation>
      <xsd:documentation>
				The unique ID assigned to the parter. This is the ID
				that is communicated to the partner and is required to
				be sent with every request. This is used as an
				identifier and does not implement security. For
				authentication, refer the security notes.
			</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="transferType" nillable="true" type="tns:transferTypeType">
    <xsd:annotation>
      <xsd:documentation>The transfer mechanism to be used for this request. Multiple transfer mechanisms are available, with different charges, limits and cutoff times. 
It is possible to ask for 'ANY', in which case the best transfer method will be selected basis the transaction details. In this case the transferType that is chosen is returned in the response.
			</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="transferCurrencyCode" nillable="true" type="tns:currencyCodeType">
    <xsd:annotation>
      <xsd:documentation>
				The currency code of the transaction amount. The only
				allowed value is the local currency (INR).
			</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="transferAmount" />
  <xsd:element name="lowBalanceAlert" nillable="true" type="xsd:boolean">
    <xsd:annotation>
      <xsd:documentation>
				A low balance threshold can be configured for the
				partners, If the balance in the drawing account drops
				below this threshold, alerts are sent, to give advance
				notice to the partner. This is important transactions
				are rejected the drawing account is not sufficiently
				funded.
			</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:simpleType name="transferTypeType">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="NEFT" />
      <xsd:enumeration value="IMPS" />
      <xsd:enumeration value="FT" />
      <xsd:enumeration value="ANY" />
      <xsd:enumeration value="RTGS" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="verificationType">
    <xsd:sequence>
      <xsd:element name="infoCode" type="xsd:token">
        <xsd:annotation>
          <xsd:documentation>
						A code that uniquely identifies the nature of
						information that is required. This is useful for
						reporting and quick answers.
					</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="infoDescription" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>
						A long description of the information that is
						being requested. This is human readable.
					</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="transactionStatus" nillable="true" type="tns:transactionStatusType">
    <xsd:annotation>
      <xsd:documentation>
				The detailed status of the transaction.
			</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="reviewStatus" nillable="true" type="tns:reviewStatusType">
    <xsd:annotation>
      <xsd:documentation>This is for future use. For now reviewRequired will always be false.
			</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="uniqueResponseNo" type="tns:referenceNoType">
    <xsd:annotation>
      <xsd:documentation>
				A unique reference number that is sent back
				by the API. This reference number can be
				used to inquire about the status of a
				request, and is usually presented on a user
				interface.. A UUID may be returned if no
				other mechanism is available.
			</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:simpleType name="beneficiaryAccountNoType">
    <xsd:annotation>
      <xsd:documentation>
				The minimum length of 1 is as per the information shared by bank.
			</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
      <xsd:maxLength value="34" />
      <xsd:whiteSpace value="collapse" />
      <xsd:pattern value="\w+" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:element name="attemptNo">
    <xsd:annotation>
      <xsd:documentation>The attempt no starts with 1 and is incremented by 1 for every request that is received with the same reference number. This is used to keep uniquely identify a request attempt. Repeated attempts are not allowed once the transaction has been accepted successfuly.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="xsd:positiveInteger">
        <xsd:minInclusive value="1" />
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
</xsd:schema>