APIBankingASP.NET/Service References/com.quantiguous.imt/IMTService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:tns="http://www.quantiguous.com/services" elementFormDefault="qualified" targetNamespace="http://www.quantiguous.com/services" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element ibmSchExtn:docRoot="true" name="addBeneficiary">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="tns:version" />
        <xsd:element ref="tns:uniqueRequestNo" />
        <xsd:element ref="tns:appID" />
        <xsd:element ref="tns:customerID" />
        <xsd:element ref="tns:beneficiaryMobileNo" />
        <xsd:element name="beneficiaryName" type="tns:nameType1">
          <xsd:annotation>
            <xsd:documentation>
            			The beneficiary name
            		</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="beneficiaryAddress" type="tns:beneficiaryAddressType">
          <xsd:annotation>
            <xsd:documentation>
            			The address of the beneficiary
            		</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="addBeneficiaryResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="tns:version" />
        <xsd:element ref="tns:uniqueResponseNo" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="deleteBeneficiary">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="tns:version" />
        <xsd:element ref="tns:uniqueRequestNo" />
        <xsd:element ref="tns:appID" />
        <xsd:element ref="tns:customerID" />
        <xsd:element ref="tns:beneficiaryMobileNo" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="deleteBeneficiaryResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="tns:version" />
        <xsd:element ref="tns:uniqueResponseNo" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="initiateTransfer">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="tns:version" />
        <xsd:element ref="tns:uniqueRequestNo" />
        <xsd:element ref="tns:appID" />
        <xsd:element ref="tns:customerID" />
        <xsd:element ref="tns:beneficiaryMobileNo" />
        <xsd:element name="transferAmount">
          <xsd:annotation>
            <xsd:documentation>
					The transfer Amount. A maximum of 10000 (inclusive)
					is allowed. The amount needs to be in multiples of
					100 as the withdrawal is via ATMs
				</xsd:documentation>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="tns:imtTransferAmountType">
              <xsd:pattern value="\d*00" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="passCode" type="tns:passCodeType">
          <xsd:annotation>
            <xsd:documentation>
           			The passcode, this is shared with the beneficiary, and is needed for funds withdrawal from the ATM.
           		</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="remitterToBeneficiaryInfo" type="tns:remitterToBeneficiaryInfoType">
          <xsd:annotation>
            <xsd:documentation>
				A friendly note from the remitter to the beneficiary. This is forwarded to the beneficiaries bank, for certain transation types.
				</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="initiateTransferResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="tns:version" />
        <xsd:element ref="tns:uniqueResponseNo" />
        <xsd:element ref="tns:initiateTransferResult" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="getTransferStatus">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="tns:version" />
        <xsd:element ref="tns:appID" />
        <xsd:element ref="tns:customerID" />
        <xsd:choice>
          <xsd:annotation>
            <xsd:documentation>One of initiateTransferRequestNo or imtReferenceNo is needed to inquire on the transfer</xsd:documentation>
          </xsd:annotation>
          <xsd:element name="initiateTransferRequestNo" type="tns:referenceNoType">
            <xsd:annotation>
              <xsd:documentation>
						The uniqueRequestNo of the transfer, that is being inquired.
					</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="imtReferenceNo" type="tns:referenceNoType">
            <xsd:annotation>
              <xsd:documentation>The imtReferenceNo that is being inquired.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:choice>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="getTransferStatusResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="tns:version" />
        <xsd:element name="transferStatus" type="tns:IMTTransferStatus" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="cancelTransfer">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="tns:version" />
        <xsd:element ref="tns:uniqueRequestNo" />
        <xsd:element ref="tns:appID" />
        <xsd:element ref="tns:customerID" />
        <xsd:element name="initiateTransferRequestNo" type="tns:referenceNoType">
          <xsd:annotation>
            <xsd:documentation>
					The uniqueRequestNo of an earlier completed transfer transaction, that needs to be cancelled. 
				</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="reasonToCancel" type="tns:cancelReasonType">
          <xsd:annotation>
            <xsd:documentation>
					The reason to cancel the transfer. This is for reporting/MIS, it is not sent to the beneficiary.
				</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="cancelTransferResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="tns:version" />
        <xsd:element ref="tns:uniqueResponseNo" />
        <xsd:element ref="tns:cancelResult" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="initiateTransferResult" type="tns:initiateTransferResultType" />
  <xsd:complexType name="initiateTransferResultType">
    <xsd:sequence>
      <xsd:element name="bankReferenceNo" type="tns:referenceNoType">
        <xsd:annotation>
          <xsd:documentation>

        	The reference number generated by the bank, and passed on to the payment network. 
				</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="imtReferenceNo" type="tns:referenceNoType">
        <xsd:annotation>
          <xsd:documentation>

        	The reference number generated by IMT.
				</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="cancelResult" type="tns:cancelResultType" />
  <xsd:complexType name="cancelResultType">
    <xsd:sequence>
      <xsd:element name="imtReferenceNo" type="tns:referenceNoType">
        <xsd:annotation>
          <xsd:documentation>The reference no of the transfer that has been cancelled.
  						</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="bankReferenceNo" type="tns:referenceNoType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="transactionResultType">
    <xsd:sequence>
      <xsd:element name="operationName" type="xsd:string" />
      <xsd:element ref="tns:uniqueResponseNo" />
      <xsd:choice>
        <xsd:element ref="tns:initiateTransferResult" />
        <xsd:element ref="tns:cancelResult" />
      </xsd:choice>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IMTTransferStatus">
    <xsd:sequence>
      <xsd:element name="imtReferenceNo" type="tns:referenceNoType">
        <xsd:annotation>
          <xsd:documentation>The unique reference no assigned by IMT to this transfer.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="statusCode">
        <xsd:annotation>
          <xsd:documentation>The status of this transfer</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="INITIATED" />
            <xsd:enumeration value="COMPLETED" />
            <xsd:enumeration value="EXPIRED" />
            <xsd:enumeration value="CANCELLED" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element ref="tns:customerID" />
      <xsd:element ref="tns:beneficiaryMobileNo" />
      <xsd:element name="transferAmount" type="tns:positiveFloat">
        <xsd:annotation>
          <xsd:documentation>
           			The transfer Amount
           		</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="remitterToBeneficiaryInfo" type="tns:remitterToBeneficiaryInfoType">
        <xsd:annotation>
          <xsd:documentation>
				A friendly note from the remitter to the beneficiary. This is forwarded to the beneficiaries bank, for certain transation types.
				</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="expiryDate" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>The date by which the transfer will expire.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="initiatedAt" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>The date when the transfer was initiated</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:choice minOccurs="0">
        <xsd:element name="completedAt" type="xsd:date">
          <xsd:annotation>
            <xsd:documentation>The date when the transfer completed</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="cancelledAt" type="xsd:date">
          <xsd:annotation>
            <xsd:documentation>The date the transfer was cancelled</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="expiredDate" type="xsd:date">
          <xsd:annotation>
            <xsd:documentation>The date the transfer expired</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:choice>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="transactionStatusType">
    <xsd:sequence>
      <xsd:element name="statusCode">
        <xsd:annotation>
          <xsd:documentation>The status of the transaction</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:token">
            <xsd:enumeration value="NEW" />
            <xsd:enumeration value="FAILED" />
            <xsd:enumeration value="COMPLETED" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="Fault" type="tns:FaultType">
        <xsd:annotation>
          <xsd:documentation>The Fault reporting structure. This is identical to the structure returned in the Soap fault, but in the standard namespace, and not  http://www.w3.org/2003/05/soap-envelope</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="FaultCodeValueType">
    <xsd:restriction base="xsd:QName" />
  </xsd:simpleType>
  <xsd:element name="Subcode" type="tns:FaultSubcodeType">
    <xsd:annotation>
      <xsd:documentation>The response code, the value is a QName, the qualifier represents the namespace of the system that owns the code, followed by the value.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="FaultSubcodeType">
    <xsd:sequence>
      <xsd:element name="Value" type="xsd:QName" />
      <xsd:element minOccurs="0" ref="tns:Subcode" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FaultType">
    <xsd:sequence>
      <xsd:element name="Code">
        <xsd:annotation>
          <xsd:documentation>The fault code, the value is one of the standard values defined in soap 1.2 specification. The value of the Subcode element is one of the high level error codes returned by the service. These codes are useful for most customers. Multiple child Subcode elements may be present, with increasing lower level detailed error codes.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Value" type="tns:FaultCodeValueType" />
            <xsd:element ref="tns:Subcode" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Reason">
        <xsd:annotation>
          <xsd:documentation>The human readable reason text, representing the error detail.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="Text">
              <xsd:complexType>
                <xsd:simpleContent>
                  <xsd:extension base="xsd:string">
                    <xsd:attribute name="lang" type="xsd:language" use="required" />
                  </xsd:extension>
                </xsd:simpleContent>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="remitterToBeneficiaryInfoType">
    <xsd:annotation>
      <xsd:documentation>
                                The minimum length of 2 is as per bank end systems.
                        </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="2" />
      <xsd:maxLength value="120" />
      <xsd:pattern value="(\w|\s|\.|,|-)*" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="cancelReasonType">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
      <xsd:maxLength value="120" />
      <xsd:pattern value="(\w|\s|\.|,|-)*" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="passCodeType">
    <xsd:restriction base="xsd:string">
      <xsd:length value="4" />
      <xsd:pattern value="\d{4}" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="beneficiaryAddressType">
    <xsd:sequence>
      <xsd:element name="addressLine" type="tns:addressLineType">
        <xsd:annotation>
          <xsd:documentation>The address line.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="cityName" type="tns:cityNameType">
        <xsd:annotation>
          <xsd:documentation>The city name of the address.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="postalCode" type="tns:postalCodeType">
        <xsd:annotation>
          <xsd:documentation>The postal code of the address .</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="addressLineType">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
      <xsd:maxLength value="35" />
      <xsd:pattern value="(&quot;|(|)|:|\?|\{|\}|!|@|#|\|%|!|\w|\.|-|/| )*" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:element name="beneficiaryMobileNo" type="tns:mobileNoType">
    <xsd:annotation>
      <xsd:documentation>The mobile no of the beneficiary.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:simpleType name="mobileNoType">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="7" />
      <xsd:maxLength value="16" />
      <xsd:whiteSpace value="collapse" />
      <xsd:pattern value="\d{7,16}" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:element name="customerID" type="tns:customerIDType">
    <xsd:annotation>
      <xsd:documentation>The customer ID that is allocated to the corporate, accessing the service.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:simpleType name="customerIDType">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="3" />
      <xsd:maxLength value="10" />
      <xsd:pattern value="\d*" />
      <xsd:whiteSpace value="collapse" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:element name="version" type="tns:versionType">
    <xsd:annotation>
      <xsd:documentation>When sent in the request, this reflects the version that is known to the client. Clients should always send a value that they were developed with. When sent in the reply, this reflects the version that is known to the server. This is updated whenever there is a change in the specification or the behavior of the server. These versions are not required to match, and are to be used to when dealing with compatibility issues.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="uniqueRequestNo">
    <xsd:annotation>
      <xsd:documentation>
				A unique reference number to be sent by the client
				application. The API ensures that duplicate requests are
				rejected. It is the responsibility of the client to
				ensure that a unique reference is always generated. A
				UUID may be used if no other mechanism is available.
			</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleType>
      <xsd:restriction base="tns:referenceNoType">
        <xsd:pattern value="\w*" />
      </xsd:restriction>
    </xsd:simpleType>
  </xsd:element>
  <xsd:element name="uniqueResponseNo" type="tns:referenceNoType">
    <xsd:annotation>
      <xsd:documentation>A unique reference number that is sent back by the API. This reference number can be used to inquire about the status of a request, and is usually presented on a user interface.. A UUID may be returned if no other mechanism is available.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:simpleType name="versionType">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
      <xsd:maxLength value="5" />
      <xsd:pattern value="\d.*" />
      <xsd:whiteSpace value="collapse" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="referenceNoType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="32" />
      <xsd:minLength value="1" />
      <xsd:whiteSpace value="collapse" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="nonNegativeFloat">
    <xsd:restriction base="xsd:float">
      <xsd:minInclusive value="0" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="positiveFloat">
    <xsd:restriction base="xsd:float">
      <xsd:minExclusive value="0" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="imtTransferAmountType">
    <xsd:restriction base="tns:positiveFloat">
      <xsd:maxInclusive value="10000" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="emailIDType">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="3" />
      <xsd:maxLength value="100" />
      <xsd:pattern value=".+@.+" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="postalCodeType">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
      <xsd:maxLength value="15" />
      <xsd:pattern value="(\d)*" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="cityNameType">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
      <xsd:maxLength value="50" />
      <xsd:pattern value="(&quot;|(|)|:|\?|\{|\}|!|@|#|\|%|!|\w|\.|-| )*" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="stateOrProvinceNameType">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
      <xsd:maxLength value="50" />
      <xsd:pattern value="(&quot;|(|)|:|\?|\{|\}|!|@|#|\|%|!|\w|\.|-| )*" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="proxyCardNumberType">
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:simpleType name="titleType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Mr" />
      <xsd:enumeration value="Mrs" />
      <xsd:enumeration value="Miss" />
      <xsd:enumeration value="Dr" />
      <xsd:enumeration value="Madam" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="genderType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="male" />
      <xsd:enumeration value="female" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:element name="appID" type="tns:appIDType">
    <xsd:annotation>
      <xsd:documentation>A unique ID assigned to every application. The appID should be enabled and valid in the back end systems for the transactions to proceed.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:simpleType name="appIDType">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="5" />
      <xsd:maxLength value="20" />
      <xsd:pattern value="\w*" />
      <xsd:whiteSpace value="collapse" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="nameType">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
      <xsd:maxLength value="50" />
      <xsd:pattern value="[a-z|A-Z]*" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="nameType1">
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="collapse" />
      <xsd:minLength value="1" />
      <xsd:maxLength value="50" />
      <xsd:pattern value="[a-z|A-Z|\s]*" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:element ibmSchExtn:docRoot="true" name="getBeneficiaries">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="tns:version" />
        <xsd:element ref="tns:appID" />
        <xsd:element ref="tns:customerID" />
        <xsd:element minOccurs="0" name="dateRange">
          <xsd:annotation>
            <xsd:documentation>Optionally, specify a date range to retrieve beneficiaries that were registered in that period. Both date(fromDate and toDate are inclusive).</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="fromDate" type="xsd:date">
                <xsd:annotation>
                  <xsd:documentation>The starting date of the date range. </xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="toDate" type="xsd:date">
                <xsd:annotation>
                  <xsd:documentation>The last date of the date range. </xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="numBeneficiaries" type="xsd:positiveInteger">
          <xsd:annotation>
            <xsd:documentation>The number of beneficiaries to be returned. The result will be limited to this number. Note that there is no criteria available to select the latest, oldest, or frequently used beneficiaries.
</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="getBeneficiariesResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="tns:version" />
        <xsd:element name="numBeneficiaries" type="xsd:nonNegativeInteger">
          <xsd:annotation>
            <xsd:documentation>The number of beneficiaries in the result set. This is never more than the limit specified in the request.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="beneficiariesArray" type="tns:beneficiaryArrayType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="beneficiaryArrayType">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="beneficiary" type="tns:beneficiaryType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="beneficiaryType">
    <xsd:sequence>
      <xsd:element name="beneficiaryName" type="tns:nameType">
        <xsd:annotation>
          <xsd:documentation>full name of the beneficiary</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="beneficiaryMobileNo" type="tns:mobileNoType">
        <xsd:annotation>
          <xsd:documentation>the mobile No of the beneficiary</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="registrationDate" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation>The date when beneficiary is registered</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="addressLine" type="tns:addressLineType">
        <xsd:annotation>
          <xsd:documentation>the address of the beneficiary</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="postalCode" type="tns:postalCodeType">
        <xsd:annotation>
          <xsd:documentation>The pin code of the beneficiary's city</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>